[Unit]
Description = Mount filesystem that lives on VDO
name = VDO.mount
Requires = vdo.service systemd-remount-fs.service
After = multi-user.target
Conflicts = umount.target
 
[Mount]
What = /dev/mapper/test-vdo
Where = vdo1
Type = xfs
Options = discard

[Install]
WantedBy = multi-user.target
